---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const footerData = {
  links: [],
  secondaryLinks: [],
  socialLinks: [
    { ariaLabel: 'X', icon: 'tabler:brand-x', href: 'https://x.com/ken_luzuriaga' },
    { ariaLabel: 'Instagram', icon: 'tabler:brand-instagram', href: 'https://www.instagram.com/ken_nlm' },
    { ariaLabel: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/kenluzuriaga0' },
  ],
  footNote: `Made by Ken Luzuriaga · All rights reserved.`,
};
---

<Layout metadata={metadata}>
  <slot name="header">
    <!-- <Header {...headerData} isSticky showRssFeed showToggleTheme /> Nav by default -->
    <Fragment slot="header">
      <Header
        links={[
          { text: 'Home', href: '/' },
          { text: 'Blog', href: '/blog' },
          { text: 'About', href: '/#about' },
          { text: 'Resume', href: '/#resume' },
          { text: 'Portfolio', href: '/#portfolio' },
        ]}
        actions={[
          {
            text: 'Hire me',
            href: '#',
          },
        ]}
        isSticky
        showToggleTheme
      />
    </Fragment>
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
